* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background: #DCD3FF;
    color: black;
}

.main-container {
    display: block;
    width: 100%;
    max-width: 400px;
    margin: 40px auto 10px;
}

.btn-container {
    margin: 20px 0;
}

.grid {
    background-color: #FFFFFF;
    width: 100%;
    max-width: 380px;
    height: 100px;
    border-radius: 8px;
    margin: 10px auto;
    padding: 10px;
}

button {
    height: 30px;
    width: 100px;
    background-color: #FFABAB;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
}

#downBtn {
    width: 150px;
    background-color: #6EB5FF;
}

@media(max-width: 600px){
    .main-container {
        display: flex;
        flex-direction: column;
        margin: 20px;
        padding: 20px;
        width: 100%;
    }

    .main-container > h2 {
        text-align: center;
    }

    .btn-container {
        display: flex;
        align-content: center;
    }

    .grid {
        height: auto;
        width: 90%;
    }

    #downBtn {
        width: 100px;
    }
}